figures/*
tables/*
data/*
src/_pycache_/
src/*.ipynb
src/notebooks/*
src/.pytest_cache
src/local_survival_benefit.egg-info/
doc/*
publication-figures/
.DS_Store
_pycache_/
.pytest_cache/
*.pyc
example/test_output/
src/example/test_output/